:root {
    --title-color: #8B0097;
    --buttons-color: #F29B1A;
    --background-footer: #8B0097;
    --dirty-white: #FFFEFA;
}

* {
    margin: 0;
    padding: 0;
    border: 1px solid rgba(255, 0, 0, 0.2);
}
ul {
    list-style: none;
}
nav {
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 60px;
    background: var(--dirty-white);
    display: none;
}
nav a,
nav ul {
    color: var(--title-color);
    text-decoration: none;
    font-size: 1.5rem;
}
header {
    width: 100%;
    height: 80vh;
    background-image: url("./images/banner-header.jpg");
    background-size: cover;
}
#titles-header {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#nav-container,
#footer-info,
section {
    width: 80%;
    margin: 0 auto;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav li {
    display: inline;
    height: 100%;
}
nav a {
    width: 20%;
}
nav ul {
    right: 0;
}
h1{
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
    color: var(--title-color);
}

footer {
    background-color: var(--background-footer);
    color: var(--dirty-white);
}
footer a {
    text-decoration: none;
    color: var(--dirty-white);
}
#footer-info{
    display: flex;
    flex-direction: row;
    margin: 50px auto 100px auto;
}
#logos {
    width: 45%;
}
#footer-nav {
    width: 25%;
}
#footer-contact {
    width: 30%;
}