<header class="flex justify-between items-center py-2 w-[1120px] mx-auto mt-2 px-3 bg-w">
    <!-- <img 
    src="../../public/images/banner-header.jpg" 
    alt="baner"
    class="absolute"
    > -->
    <div class="flex items-center gap-x-4">
        <img 
        src="../../public/images/logo.webp" 
        alt=""
        class="size-16"
        >
        <div class="flex flex-col items-center">
            <h1>Acción Social</h1>
            <h2>La Roca</h2>
        </div>
    </div>
    <nav class="flex flex-row gap-x-10">
        <a href="/">Inicio</a>
        <a href="/nosotros">Sobre Nosotros</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/colaboraciones">Colaboraciones</a>
    </nav>
</header>